.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.level-1-shadow {
    box-shadow: 0px 4px 20px rgba(74, 74, 74, 0.05);
}

.level-2-shadow:hover {
    box-shadow: 0px 8px 30px rgba(74, 74, 74, 0.08);
}

.bg-gradient-soft {
    background: linear-gradient(135deg, #ffffff 0%, #f9f9f9 100%);
}