<main class="max-w-container-max mx-auto px-margin-mobile md:px-margin-desktop py-12 px-12">
    <!-- Header Section -->
    <header class="mb-12">
        <h1
            class="max-w-2xl mb-6 text-4xl font-extrabold tracking-tight leading-none md:text-5xl xl:text-6xl text-secondary">
            Catálogo de Soluciones</h1>
        <p class="max-w-2xl mb-8 font-light text-gray-500 lg:mb-10 md:text-lg lg:text-xl">
            Tecnología diseñada para entender y responder a tus necesidades. Explora nuestro ecosistema modular para
            un hogar más seguro, saludable y autónomo.
        </p>
    </header>
    <!-- Category Filter -->
    <nav aria-label="Filtros de catálogo" class="flex flex-wrap gap-3 mb-12">
        @for (category of categories(); track $index) {
        <button
            class="filter-btn hover:bg-primary hover:text-on-primary px-6 py-3 rounded-full font-label-md text-label-md border-2 border-primary-container smooth-transition hover:scale-105 active:scale-95">
            {{ category.name }}
        </button>
        }

    </nav>
    <!-- Products Grid -->
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4" id="catalog-grid">
        @for (category of categories(); track $index) {
        @for (product of category.products; track $index) {
        <article class="catalog-item bg-white rounded-xl overflow-hidden card-shadow smooth-transition group"
            data-category="seguridad">
            <div class="h-64 overflow-hidden relative">
                <img alt="Cerradura inteligente"
                    class="w-100 h-full  group-hover:scale-110 transition-transform duration-500"
                    [src]="'/images/products/'+product">
            </div>
            <div class="p-6">
                <h3 class="font-headline-md text-headline-md mb-2">{{category.name}}</h3>
                <p class="font-body-md text-body-md text-secondary mb-6 overflow-hidden text-ellipsis description">
                    {{category.description ||
                    "Solución
                    Personalizada"}}</p>
                <div class="flex items-center justify-end">
                    <button
                        class="bg-white text-primary px-6 py-3 rounded-lg font-label-md text-label-md smooth-transition hover:bg-primary hover:text-white border-2 border-primary active:scale-95 min-h-[48px]">Añadir</button>
                </div>
            </div>
        </article>
        }
        }


    </div>
</main>